<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receita</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/comida.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav id="Navbar" class="navbar fixed-top">
      <div class="container-fluid">
        <a id="Logo" class="navbar-brand">Food🥨riter</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar Receitas..." aria-label="Buscar Receitas...">
          <button class="btn btn-outline-light" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>


    <h1 id="Header" class="display-4 text-center fw-bold">Bolo de Cenoura</h1>

    <div class="posicaoImagem">
        <img id="ImagemComida" src="images/boloCenoura.png" alt="">
    </div>

    <p id="Autor" class="display-6 text-center">por <i>Adriana</i></p>

    <p id="Data" class="lead display-6 text-center">15/08/2024</p>

    <div id="FundoCat">
      <p id="Categoria" class="lead pt-3 pb-3 h1 text-center">Chocolate</p>
    </div>

    <h1 id="Ingredientes" class="text-center fw-bold">Ingredientes:</h1>

    <div id="Socorro">
      <ul>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
      </ul>
    </div>

    <h1 id="ModoPreparo" class="text-center fw-bold">Modo de Preparo:</h1>
    <div id="Socorro">
      <ol>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
        <li>
          <p>Faça a cozinha da cenoura com sal e açúcar até ficar dourado.</p>
        </li>
      </ol>
    </div>
    



    
    
   
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>