<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main-Usuário</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  </head>
  <body>


    <!-- navbar -->
    <nav id="Navbar" class="navbar fixed-top">
        <div class="container-fluid">
          <a id="Logo" class="navbar-brand">Food🥨riter</a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar Receitas..." aria-label="Buscar Receitas...">
            <button class="btn btn-outline-light" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
    <!-- FIM navbar -->

    <div id="Alinhar">
      <a id="AddReceita" class="btn fw-bold btn-lg" href="">SAIR</a>
    </div>

    <!-- Olá, usuário -->
    <div id="User">
        <img id="ProfileImage" src="images/Elsa.jpg" alt="">
      </span>
      <span class="lead display-6">Olá, <i class="fw-bold">User</i></span>
      

    </div>
    

    <!-- FIM Olá, usuário -->

    <!-- Cabeçalho -->
    <h1 id="Header-Cadastro" class="display-4 text-center fw-bold">Minhas Receitas</h1>
    <!-- FIM Cabeçalho -->

    <!-- Botão para adicionar receita -->

    <div id="PosicaoTela">
      <div id="Container" class="card">
        <div id="Centraliza">
          <div class="card-body">
            <div id="Alinha">
              <button id="AddReceita" class="btn fw-bold btn-lg">Adicionar Receita</button>
            </div>
              <p class="text-center">
                  ou <span class="fw-bold" id="Salve">salve</span> as receitas de 
                  <br>outras pessoas
              </p>
          </div>
        </div>
          
    </div>

    </div>

    
    <!-- FIM Botão para adicionar receita -->

  <!-- Posição da tela -->

  <div id="Centralizar">


      
    <div id="PosicaoTela">
      <!-- INICIO card 1 -->
      <div class="card" style="width: 14.5rem; height: 28.5rem;">
        <div id="ContainerImg">
          <img src="images/boloCenoura.png" alt="...">
        </div>
          <div class="card-body text-center">
            <h5 class="card-title fw-bold">Bolo de Cenoura</h5>
            <div class="classPosi">
              <p id="CategoriaComida" >categoria</p>
            </div>
            <p id="Data">15/08/2024</p>

            <div class="classPosi">

              <div class="Excluir">
                <span class="icon-box">
                  <i id="Trash" class='bx bx-trash h4'></i>
              </span>
              <p id="Excluir" class="card-text fw-bold">EXCLUIR</p>
              </div>
  
              <div class="Excluir">
                <span class="icon-box">
                  <i id="Trash" class='bx bx-edit h4'></i>
              </span>
              <p id="Excluir" class="card-text fw-bold">EDITAR</p>
              </div>

            </div>
            

            </div>
      </div>
  
      <!-- FIM card 1-->

      

       

    </div>

    <!-- FIM Posição da tela -->
    
  </div>


    
   
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>