<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comida.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav id="Navbar" class="navbar fixed-top">
      <div class="container-fluid">
        <a id="Logo" class="navbar-brand">Food🥨riter</a>
        <form action="/recipes/search" method="GET" class="d-flex">
          <input required class="form-control me-2" type="search" placeholder="Buscar Receitas..." aria-label="Buscar Receitas..." name="keyword">
          <button class="btn btn-outline-light" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>


    <h1 id="Header" class="display-4 text-center fw-bold text-capitalize">{{ recipe.title }}</h1>

    <div class="posicaoImagem">
        <img id="ImagemComida" src="{{ url_for('static', filename='images/boloCenoura.png') }}" alt="Imagem da Comida">
    </div>

    <p id="Autor" class="display-6 text-center">por <i>{{ recipe.author }}</i></p>

    <p id="Data" class="lead display-6 text-center">{{ recipe.date_created.strftime('%Y-%m-%d') }}</p>

    <div id="FundoCat">
      <p id="Categoria" class="lead pt-3 pb-3 h1 text-center">{{ recipe.category_name }}</p>
    </div>

    <h1 id="Ingredientes" class="text-center fw-bold">Ingredientes:</h1>

    <div id="Socorro">
      <ul>
        {% for i in recipe.ingredients.split('\n') %}
        <li class="lead text-capitalize">
          {{ i }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <h1 id="ModoPreparo" class="text-center fw-bold">Modo de Preparo:</h1>
    <div id="Socorro">
      <ol>
        {% for i in recipe.steps.split('\n') %}
        <li class="lead text-capitalize">
          {{ i }}
        </li>
        {% endfor %}
      </ol>
    </div>
    
    
   
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>