{% extends "base.html" %}

{% block head %}
<title>Adicionar Receita</title>
{% endblock %}

{% block body %}

<h1>Nova Receita</h1>

<form action="/recipes/add" method="POST" id="recipeform">
    <p>Título</p>
    <input type="text" name="title" required>
    <p>Ingredientes</p>
    <textarea name="ingredients" form="recipeform" required></textarea>
    <p>Modo de fazer</p>
    <textarea name="steps" form="recipeform" required></textarea><br><br>
    <select name="category">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    
    <!-- TODO: image upload -->
    <br><br>
    <button type="submit">Confirmar</button>
</form>

{% endblock %}