<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWriter</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-usuario.css') }}">
</head>
<body>

    <!-- Navbar -->
    {% include "search_component.html" %}
    <!-- FIM Navbar -->

    <div id="Alinhar">
        <a id="AddReceita" class="btn fw-bold btn-lg" href="/logout">SAIR</a>
    </div>

    <!-- Saudação ao Usuário -->
    <div id="User">
        <img id="ProfileImage" src="{{ url_for('static', filename='images/Elsa.jpg') }}" alt="Imagem do Usuário">
        <span class="lead display-6">Olá, <i class="fw-bold">{{current_user.name}}</i></span>
    </div>

    <!-- Cabeçalho -->
    <h1 id="Header-Cadastro" class="display-4 text-center fw-bold">Minhas Receitas</h1>

    

    <!-- Botão para adicionar nova receita -->
    <div id="Centralizar">
        <div id="Container" class="card">
            <div id="Centraliza">
                <div class="card-body">
                    <div id="Alinha">
                        <a href="/recipes/add">
                            <button id="AddReceita" class="btn fw-bold btn-lg">Adicionar Receita</button>
                        </a>
                    </div>
                    <p class="text-center">ou <span class="fw-bold" id="Salve">salve</span> as receitas de
                        <br> outras pessoas</p>
                </div>
            </div>
        </div>
    </div>

    <div id="Centralizar">

    <!-- Lista de Receitas -->
    <div id="PosicaoTela">
        {% for r in recipes %}
        <div class="card mb-3 floating-card" style="width: 14.5rem; height: 28.5rem;">
            <div id="ContainerImg">
                <img src="{{ url_for('static', filename='images/boloCenoura.png') }}" style="cursor: pointer;" onclick="window.open('view/{{ r.id }}')" alt="Imagem da Receita">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title fw-bold text-capitalize" style="cursor: pointer;" onclick="window.open('view/{{ r.id }}')">{{ r.title }}</h5>
                <div class="classPosi">
                    <p id="CategoriaComida">{{ r.category_name }}</p>
                </div>
                <p id="Data">{{ r.date_created.day }}/{{ r.date_created.month }}/{{ r.date_created.year }}</p>

                <div class="classPosi">
                    <!-- Botão Remover -->
                    <div class="Excluir">
                        <a href="/recipes/delete/{{ r.id }}">
                            <span class="icon-box">
                                <i id="Trash" class='bx bx-trash h4'></i>
                            </span>
                            <p id="Excluir" class="card-text fw-bold">EXCLUIR</p>
                        </a>
                    </div>
                    
                    <!-- Botão Editar -->
                    <div class="Editar">
                        <a href="/recipes/update/{{ r.id }}">
                            <span class="icon-box">
                                <i id="Trash" class='bx bx-edit h4'></i>
                            </span>
                            <p id="Excluir" class="card-text fw-bold">EDITAR</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
