{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Login</h1>
<form action="/login" method="post">
    <p>Email</p>
    <input type="text" name="email" required>
    <p>Senha</p>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
</form>
{% endblock %}
