<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/cook.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <title>Cadastro</title>
</head>
<body>
    {% include "search_component_not_logged.html" %}

    <div class="container mb-5 d-flex justify-content-center align-items-center min-vh-100 margin">
        <div class="box form-box">
            <header>Faça o Seu Cadastro</header>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form action="/register" method="post" enctype="multipart/form-data">
                <div id="AlinhadorImagem" class="field input">
                    {% if current_user.profile_picture %}
                        <img style="width: 100%;
                            aspect-ratio: 16/9;
                            height: 10rem;
                            border-radius: 10px;
                            margin-top: 0.5rem;
                            margin-bottom: 1.2rem;
                            object-fit: cover;
                            background-position: center;" src="{{ url_for('static', filename='uploads/' + current_user.profile_picture) }}" alt="profile picture" width="100%" id="profile_img">
                    {% else %}
                        <img style="width: 100%;
                        aspect-ratio: 16/9;
                        height: 10rem;
                        border-radius: 10px;
                        margin-top: 0.5rem;
                        margin-bottom: 1.2rem;
                        object-fit: cover;
                        background-position: center;" src="{{ url_for('static', filename='images/user.webp') }}" alt="profile picture" width="100%" id="profile_img">
                    {% endif %}
                    <label class="custom-file-upload colorized" for="profile_input">Clique aqui e faça o upload de uma imagem</label>
                    <input class="file-upload" type="file" name="file" id="profile_input" accept="image/png, image/jpeg, image/jpg">
                </div>
                
                <div class="field input">
                    <label for="username">Nome de Usuário*</label>
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="field input">
                    <label for="email">E-mail*</label>
                    <input type="text" name="email" id="email" required>
                </div>
                
                <div class="field input">
                    <label for="password">Senha*</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="field input">
                    <label for="password_repeat">Confirmar Senha*</label>
                    <input type="password" name="password_repeat" id="password_repeat" required>
                </div>

                <div class="input-group pt-3 mb-2 justify-content-center">
                    <button id="LoginBtn" type="submit" class="btn btn-lg w-100 fs-6 colorized">
                        <span class="lead fw-bold text-uppercase">Cadastrar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        // preview da imagem na hora de fazer upload
        let imgInp = document.getElementById('profile_input');
        let blah = document.getElementById('profile_img')
        imgInp.onchange = evt => {
            const [file] = imgInp.files;
            if (file) {
                blah.src = URL.createObjectURL(file);
            }
        }
    </script>
</body>
</html>
