#ImagemComida{
    border: none;
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
    box-shadow: 4px 4px 28px 4px rgba(33, 63, 141, 0.25);
    margin-bottom: 6rem;
}

#Autor, #Categoria, #Ingredientes, #ModoPreparo{
    margin-bottom: 2rem;
}

#Socorro{
    display: flex;
    justify-content: center;
}

#Ingredientes, #ModoPreparo{
    margin-top: 4rem;
}

#Data{
    color: #999999;
    margin-bottom: 4rem;
}

@media(max-width:926.98px){
    #ImagemComida{
        width: 20rem;
        height: 20rem;
    }
}

@media(max-width:600.98px){
    #ImagemComida{
        width: 15rem;
        height: 15rem;
    }
}

.posicaoImagem{
    display: flex;
    justify-content: center;
}

#Categoria{
    background-color: #675af8;
    border-radius: 40px;
    width: fit-content;
    color: #fdfdfd;
    padding: 1.5rem;
    margin: auto;
}
